:root {
  --grid-rows: 1;
  --grid-cols: 1;
  --size-cells: 10px;
}

html {
    font-family: 'Wendy One';
    background-color: lightgray;
    color:darkcyan;
}

.cell {
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  font-size: 85;
}

#gridContainer {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), var(--size-cells));
    grid-template-columns: repeat(var(--grid-cols), var(--size-cells));
    height: 400px;
    width: 400px;
}

